<div class="card col-6 p-4">
  <h1>Editing Permision</h1>
    <%= render "form", permission: @permission %>
  <br>

  <div>
    <%= link_to "Back to permissionss", roles_path, class:"btn btn-outline-secondary" %>
  </div>
</div>
