<div class="card col-6 p-4">
  <h1>New Permission</h1>

  <%= render "form", permission: @permission %>

  <br>

  <div>
    <%= link_to "Back to Permisions", roles_path, class:"btn btn-outline-secondary" %>
  </div>
</div>
