
<h1>Posts</h1>
<% if can? :manage, Post.new %>
  <%= link_to "New post", new_post_path , class:"btn btn-outline-primary"%>
<% end %>
<div class='row d-flex col-12 ' id="posts">
  <% @posts.each do |post| %>
    <div class="card col-6 p-4 m-2">
      <%= render post %>
      <p>
        <%= link_to "Show this post", post, class:'btn btn-info' %>
      </p>
    </div>
  <% end %>
</div>

