<div class="card col-6 p-4">
  <%= render @post %>

  <div>
    <% if can? :update, @post  %>
      <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-outline-info" %> |
      <%= button_to "Destroy this post", @post, method: :delete, class:"btn btn-outline-danger" %>
    <% end %>
    <%= link_to "Back to posts", posts_path, class:"btn btn-outline-secondary" %>
  </div>
</div>
